body {
  background-image: url("../images/rugrats.jpeg");
  text-align: center;
  color: black;
}

 .jumbotron {
   font-family: 'Gloria Hallelujah', cursive;
   
 }

 .page-header {
  font-family: 'Gloria Hallelujah', cursive;
 }

 #timeleft {
  font-family: 'Gloria Hallelujah', cursive;
 }

 #holdQuestions {
  font-family: 'Gloria Hallelujah', cursive;
 }

